body{
	margin: 0; 
	font-family: Arial, sans-serif;
	background: #f4f4f4;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background: #222;
	color: white;
	align-items: center;
}

nav a {
	padding: 15px;
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 15px;
}

.logo {width: 100px; }

.menu-btn {display: none; background: none; color: white; font-size: 24px;}

.hero { text-align: center; padding: 20px }

.responsive-img { width: 100%; height: auto;}
.product-grid {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	gap:2px;
	padding:20px;
}

.product-card {
	background: white;
	padding: 15px
	border-radius: 8px;
}

.form-box {
	width: 90%;
	max-width: 400px;
	margin: auto;
	background: white;
	padding: 20px
	border-radius: 10px;
}

input {
	width: 100%;
	padding: 10px
	margin-bottom: 15px;
}

button {
	width: 100%;
	background: #222;
	padding: 12px
	border: none;
	font-size: 16px;

}

footer {
	text-align: center;
	background: #222;
	padding: 15px
	color: white;

}

footer {
	text-align: center;
	background: #222;
	padding: 15px
	color: white;

}

@media (max-width: 768px) {
	nav {display: none; flex-direction: column;}
	nav.open {display: flex;}
	.menu-btn{display: block;}
	.product-grid {grid-template-columns: 1fr;}

}








